* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Nunito", sans-serif;
}

:root {
    --bg-color: #191f36;
    --snd-bg-color: #262B40;
    --text-color: #fff;
    --main-color: #59B2F4;
    --accent-color: #e74c3c;
    --box-shadow-color: rgba(0, 0, 0, 0.5);
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2rem;
    color: var(--text-color);
    font-weight: 700;
    cursor: default;
}

.navbar a {
    font-size: 1rem;
    color: var(--text-color);
    margin-left: 2rem;
    font-weight: 700;
    transition: color 0.3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

.technologies {
    padding: 8rem 9% 4rem;
    text-align: center;
}

.technologies h1 {
    font-size: 3.5rem;
    margin-bottom: 3rem;
    color: var(--main-color);
}

.technologies-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 2rem;
    justify-items: center;
    align-items: center;
}

.technology-box {
    background: var(--snd-bg-color);
    width: 150px; /* Fixed width */
    height: 150px; /* Fixed height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--box-shadow-color);
    text-align: center;
    transition: transform 0.3s;
}

.technology-box:hover {
    transform: scale(1.05);
}

.technology-box i {
    font-size: 3rem;
    color: var(--main-color);
    margin-bottom: 0.5rem; /* Adjusted margin */
}

.technology-box p {
    font-size: 1.4rem;
    color: var(--text-color);
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 9%;
    background: var(--snd-bg-color);
}

.footer-text {
    font-size: 1.6rem;
}

.footer-iconTop {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem 1rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 1rem var(--main-color);
    cursor: pointer;
}

.footer-iconTop a i {
    font-size: 1.5rem;
    color: var(--snd-bg-color);
}
